@font-face {
  font-family: "Brown";
  src: url("css/fonts/brown-regular.eot");
  src:
  url("css/fonts/brown-regular.woff") format("woff")
}
@font-face {
  font-family: "Brown-Light";
  src: url("css/fonts/brown-light.eot");
  src:
  url("css/fonts/brown-light.woff") format("woff")
}
@font-face {
  font-family: "Visuelt";
  src: url("css/fonts/visuelt-regular-web.ttf");
}

html{
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body{
  padding: 15px 80px;
  font-size: 24px;
  font-weight: lighter;
  font-family: "Brown", sans-serif;
  color: #424242;
}

img{
  max-width: 100%;
  max-height:600px;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  z-index:0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a img:hover{
  box-shadow:rgba(0, 0, 0, 0.4) 0 3px 3px 0;
  -webkit-box-shadow:rgba(0, 0, 0, 0.4) 0 3px 3px 0;
  -moz-box-shadow:rgba(0, 0, 0, 0.4) 0 3px 3px 0;
}

header{
  font-size: 24px;
  padding-bottom:30px;
  display: flex;
  align-items: center; /* align vertical */
  width:250px;
}

header a{
  margin-left: 50px;
  color: #424242;
}

nav{
  font-size: 24px;
  padding-bottom: 50px;
  font-family: "Brown-Light";
}
nav a{
  padding-right:15px;
  color: #424242;
}

a{
  text-decoration: none;
  color: #00b23b;
}

a:hover{
  color:#ED1C24;
}

.no-padding_left{ padding-left: 0px}
.row{ padding-bottom: 10px; }
.constrained{ max-width: 600px; }

/* -------------  Layout  ------------ */
/* fluid 5 columns */
.grid-sizer,
.grid-item { width: 33%; padding:10px; }
/* 2 columns */
.grid-item--width2 { width: 66%; }

/* Responsive */

@media all and (max-width: 1000px) {
  .grid-sizer,
  .grid-item { width: 50%; padding:10px; }
  /* 2 columns */
  .grid-item--width2 { width: 100%; }

  body{
    padding: 15px 50px;
  }
}

@media all and (max-width: 640px) {
  .grid-sizer,
  .grid-item { width: 100%; padding:10px; }
  /* 2 columns */
  .grid-item--width2 { width: 100%; }

  body{
    padding:10px;
  }

  .head{
    padding-left:15px;
  }
}
